@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------------------------------------------------------------------------------------------------- GENERAL ---- */


h1, 
h2, 
h3, 
h4, 
h5 {

    font-family: 'Spartan', sans-serif;

}

p {

    font-family: 'Montserrat', sans-serif;

}

html {

    font-size: 100%;

}

hr {

    margin: 1rem 0;
    width: 100%;
    background-color:#CD3110;
    height: 0.16rem;

}

.deep-orange-bg {

    background-color: #CD3110;

}

.light-orange-bg {

    background-color: #DC2f02;

}

.light-grey-bg {

    background-color: #D6CFCB;

}

.dark-grey-bg {

    background-color: #423E3b;

}

.blue-bg {

    background-color: #37718E;

}

.deep-orange-text {

    color: #CD3110;

}

.light-orange-text {

    color: #DC2f02;

}

.light-grey-text {

    color: #D6CFCB;

}

.dark-grey-text {

    color: #423E3b;

}

.blue-text {

    color: #37718e;

}


/* ------------------------------------------------------------------------------------------------------- NAVBAR ---- */


.atomic-brand {

    color: #CD3110;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-top: .2rem;
    margin-top: .5rem;
    
}

#atomic-brand-link:hover {

    
    color:#CD3110;

}

.atomic-brand h2 {

    font-size: 1.25rem;
    font-weight: 900;

}

.navbar-brand a i {

    color: #CD3110;
    font-size: 1.25rem;

}

a.navbar-item:hover,
a#nav-drop-grey:hover {

    background-color: #D6CFCB;
}


.navbar-burger {

    color: #CD3110;

}

#atomic-navbar {

    color: #CD3110;

}

.navbar,
.navbar-menu{

    background-color: #423E3B;
    font-size: 1.25rem;

}


.navbar-link:focus {
    background-color:#D6CFCB;
}

.navbar-item h3 {

    color: #CD3110;
    font-size: 1rem;
    font-weight: 700;

}

.navbar-start {

    margin-left: 1.25rem;

}

.navbar-dropdown {

    background-color: #D6CFCB;
}

.navbar-dropdown:hover {

    background-color: #D6CFCB;
}


/* ------------------------------------------------------------------------------------------------------------- FOOTER ------------ */



.footer h2 {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;


}

#atomic-brand {

    color: #CD3110;

}

.footer-links:hover {

    color: #CD3110;

}


.footer-socials {

    padding: 1rem;

}

.footer-socials a {

    color:#CD3110;
    font-size: 3rem;

}

.footer-socials a:hover {

    color:#D0CCd0;

}


/* ------------------------------------------------------------------------------------------------------------- INDEX.HTML -------- */



/* ----------------------------------------------------------------------- Section: landing-page ----- */ 

#landing-page-hero {

    height: 568px;
    background-image: url(../images/b&w-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #423E3B;
    width: 100%;
    background-attachment: fixed;

}

.button-and-article-container {

    position: relative;
    margin: 0 auto;
    max-width: 80%;
    top: 20px;
    height: 30rem;
 
}

/* Webkit Backdrop filter acts to blur the background images, enhancing depth and the readbility of any foreground text. It is deactivated by default on Firefox, however a semi transparent underlay ensures reability and minimizes diminution in experience. */

.landing-page-header {

    color: #ffffff;
    position: absolute;
    background-color: rgba(66, 62, 59, 0.6);
    width: 100%;
    bottom: 30%;
    margin-top: 40%;
    padding: 1rem;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

}

.landing-page-header h2 {

    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;

}

.landing-page-header hr {

    margin: .75rem auto;
    width: 75%;

}

.landing-page-header header h3 {

    font-size: 1rem;
    font-weight: 400;
    

}

.button-container {

    position: absolute;
    margin-top: 1.5rem;
    width: 100%;
    bottom: 12%;
    
}

.button-container .button {

    width: 100%;
    background-color: #CD3110;
    padding: 10px;
    height: 65px;

}

.button-container .button p {

    color: #D6CFCB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;

}

#hero-button:hover,
#hero-button:hover.button p {

    background-color:#D6CFCB;
    color: #CD3110;

}


/* ----------------------------------------------------------------------- Section: location & contact ----- */


.location-and-contact {

    background-color: #D6CFCB;
    background-size: cover;
    width: 100%;
    font-size: 24px;
    background: linear-gradient(rgba(0,0,0,0.35), rgba(214, 207, 203, 1))
    
}


.location-and-contact div {
    
    font-size: 1rem;
    text-align: center;

}

.location-arrow a {

    position: relative;
    font-size: 450%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    color:#423E3B;
    margin: 0 auto;
    text-decoration: none;
    
}


.location-arrow a i {
      
    width: 90px;
    height: 90px;
    color:#423E3B;
    margin: auto;

}

.location-section hr,
.contact-section hr {
    
    margin: 24px auto;
    width: 50%;
    background-color:#CD3110;
    height: 4px;
    
}

.address p, 
.contact p {

    color:#423E3B;
    margin: 0 auto;
    width: 50%;
    font-weight: 600;

}

.location-arrow a i:hover,
.address a:hover,
.contact a:hover {

    color: #CD3110;

}

/* ---------------------------------------------------------------- SECTION: Fist Bump Image ------------------ */

.fist-bump-image {

    width: 100%;
    min-height: 250px;
    
    background-image: url(../images/fist-bump.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    background-attachment: fixed;

}

/* ---------------------------------------------------------------- SECTION: image-and-quotes ----------------- */

.client-quotes-container {

    text-align: center;
    width: 75%;

}

.client-quotes-header {

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    
}


.image-and-quotes {

    color:#D0CCd0;
    
}

.image-and-quotes .columns {

    margin-left: .75rem;
    margin-right: .75rem;
    margin-top: .75rem;
    
} 


.image-and-quotes .column {
    
    display: block;
    padding: .75rem;

}

.client-pic {

    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;

}

.client-name {

    color:#D0CCd0;
    font-size: 1.5rem;
    font-weight: 700;
}

.client-quote {

    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.5rem;

}

.quote-column hr {

    margin: 0 auto;
    width: 66%;
    
}



/* ----------------------------------------------------------------SECTION: Services ------------------------------------ */

.image-and-quotes {

    padding: 6rem 0 8rem;

}

/* CSS GRID is used here to align the divs and permit custom configurations with media queries */

.grid-container {

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "image1 image1 image1 image1"
        "article1 article1 article1 article1"
        "image2 image2 image2 image2"
        "article2 article2 article2 article2";

}

.class-image {

    grid-area: image1;
    background-image: url(../images/pexels-andrea-piacquadio-3766211.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    position: relative;
    background-color: #423E3b;
    
}

.class-article,
.pt-article {

    grid-area: article1;
    min-height: 300px;
    padding: 3rem;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index:1
    
}

.class-article p,
.pt-article p {

    padding: 1rem;

}

.class-article a,
.pt-article a {

    margin: 0.75rem 1rem;
    padding: 1rem;
    width: 50%;

}

.class-article a p,
.pt-article a p {

    font-weight: 700;

}

.pt-article {

    grid-area: article2;
    min-height: 300px;

}

.pt-image {

    grid-area: image2;
    background-image: url(../images/jonathan-borba-R0y_bEUjiOM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    position: relative;

}


.class-image h2,
.pt-image h2 {

    position: absolute;
    top: 66%;
    left: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background-color:rgba(66, 62, 59, 0.65);
    padding: .75rem;

} 

#class-button,
#coach-button {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

#class-button:hover {

    background-color: #D6CFCB;
    color:#423E3B;

}

#coach-button:hover {

    background-color:#D6CFCB;
    color:#CD3110;

}



/* --------------------------------------------------------------------------------------SECTION: MEET OUR TRAINERS ----------------*/





.meet-trainers {

    padding: 1rem 0;

}

.trainer-header-container {

    padding-bottom: 3rem;

}

.meet-trainers-header {

    text-transform: uppercase;

}

.meet-trainers hr {

    width: 33%;
    margin: 0 auto;

}

.trainer-grid-container {
   
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "tprofile-1 tprofile-1 tprofile-1"
            "tprofile-2 tprofile-2 tprofile-2"
            "tprofile-3 tprofile-3 tprofile-3";
}

.trainer-profile-1 {
    grid-area: tprofile-1;
}

.trainer-profile-2 {
    grid-area: tprofile-2;
}

.trainer-profile-3 {
    grid-area: tprofile-3;
}

.meet-trainers h2 {

    margin: 1rem 1.25rem;
    font-weight: 800;
    font-size: 1.5rem;
    
}

.meet-trainers p {

    margin: 1rem 1.25rem;
    font-size: 1.25rem;

}

.profile-1,
.profile-2,
.profile-3 {

    height: 150px;
    width: 150px;
    border-radius: 50%;

}




/* -------------------------------------------------------------------------------------------------- SIGNUP.HTML ---------------------- */
.success-image {

    background-image: url(assets/images/pexels-victor-freitas-931321.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 300px;
    

}



.sign-up-title-container {

    width: 85%;
    text-align: center;
    padding-bottom: 2rem;

}

.sign-up-title {

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


.form-column {

    background-image: url(../images/samuel-girven-VJ2s0c20qCo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.form-container {

    height: 100%;
    width: 100%;
    padding: 1rem 1rem;
    background-color: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    
    
}


label,
label h3 {
    
    color:#ecebec;
    font-weight: 600;

}


.form-container form {

    position: relative;

}

.form-container label p {

    padding-right: 1rem;

}


.form-container .button {

    color: #ffffff;
    background-color: #CD3110;
    width: 60%;
    margin: 0 auto;
    left: 20%;


}

.map-column {

    width: 100%;
    height: 100%;
    padding: .5rem;
}

.map-column iframe {

    height: 100%;
    width: 100%;
    min-height: 300px;

}

.interests {
    font-weight: 500;
    color: #ff
}

label.label.light-grey-text {
    font-family: 'Montserrat', sans-serif;
}

.classes-label {
    font-family: 'Montserrat', sans-serif;
}

.classes-label:hover {

    color: #CD3110;
}

.checkbox {

    color: #ffffff;
}


/* Large Tablets often left whitespace at the bottom of the signup page. To remove this and ensure the footer covers remianing whitespace the calc function is used along with a fixed height for the body element and form. This ensures there is no whitespace at the base of a page.  */

.signup-main {
    min-height: 100%;
    
}

.signup-footer {
    
    min-height: calc(100vh - 800px);
}

.signup-form {
    min-height: 800px;
}

/* --------------------------------------------------------------------------------------------------- CLASSES.HTML  ---- */


.table {
    overflow: auto;
}

.gym-timetable-header {
    
    background-color: #DC2f02;
}

.gym-timetable-wrapper {
    margin: 0 20px 0 20px;
}

.gym-timetable {
    margin-top: 20px;
    margin-bottom: 20px;
}



#gym-class-hero {

    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/pexels-jonathan-borba-3076514.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#gym-class-hero-afternoon {

    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/pexels-jonathan-borba-3076516.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

#gym-class-hero-evening {

    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/geert-pieters-0Z-r591z3DI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#gym-class-tab {

    margin-bottom: 0;

}

.gym-class-is-active {

    background-color: #423E3b;
    border-color: #D0CCd0;
    color: #ffffff;

}

.gym-class-is-active a {
    
    color: #ffffff;

}

.gym-class-header {

    position: absolute;
    color: #423E3b;
    font-size: 300%;
    font-weight: 700;
    z-index: 10;
    width: 60%;
    height: 20%;
    margin-top: 125px;
    margin-left: 5%;
    margin-bottom: 50px;
    padding-left: 15px;

}

.gym-class-header h2 {

    font-weight: 700;
    
}

.opaque-overlay-white {
    
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);

}

.class-time {

    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;

}

.box.strength,
.box.cardio,
.box.elite {
    
    text-align: center;

}

.weekday-head,
.saturday-head,
.sunday-head {

    text-align: center;

}

.gym-day {

    font-weight: 700;

}

.class-tab {

    font-family: "Spartan", sans-serif;
    font-weight: 500; 

}



/* ----------------------------------------------------------------------------------------------------- TILE STYLES --- CLASSES.HTML ---- */

.cardio {
    background-color: #CD3110;
}

.elite {
    background-color: #423E3b;
}

.elite .title, .cardio .title, .strength .title {
    color: #ffffff;
}

.elite p, .cardio p, .strength p {
    color: #ffffff;
}

.strength {
    background-color: #37718E;
}

.blank {
    background-color:#f87c632c;
    box-shadow: 0px 0px;

}


/* -------------------------------------------------------------------------------------------------------------- MEDIA QUERIES  ---- */


/* breakpoints of mobile : screen < 767px; tablet: 768px < screen < 1023px; desktop: screen < 1024px; */


/* -------------------------------------------------------------------------------------------------------- TABLET BREAKPOINT ----- */

@media only screen and (min-width: 767px) {


    /* ---------------------------------------------------------------------------------- BREAKPOINT TABLET => INDEX.HTML ------ */
    

    .button-and-article-container {
        
        max-width: 25rem;
        left: 6rem;
        margin-left: 2rem; 
        
    }

    .landing-page-header {
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
       
    }

    .landing-page-header h2 {
        font-size: 2rem;
    }

    .landing-page-header h3 {

        font-size: 1rem;

    }

    .button-container {

        margin-top: 2rem;
        margin-bottom: 0.5rem;

    }



    /* ------------------------------------------------------------------ BREAKPOINT TABLET => INDEX.HTML #SERVICES GRID SECTION ---------- */

    .grid-container {

        grid-template-areas:
        "image1 image1 article1 article1"
        "image1 image1 article1 article1"
        "article2 article2 image2 image2"
        "article2 article2 image2 image2";

    }


    /* ----------------------------------------------------------------- BREAKPOINT TABLET => INDEX.HTML #CLIENT QUOTES ------ */


    /* ---------------------------------------------------------------- BREAKPOINT TABLET => INDEX.HTML #MEET OUR TRAINERS */

    .trainer-grid-container {
   

            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "tprofile-1 tprofile-1 tprofile-1 tprofile-2 tprofile-2 tprofile-2"
                "tprofile-3 tprofile-3 tprofile-3 tprofile-3 tprofile-3 tprofile-3";
    }



    /* ----------------------------------------------------------------- BREAKPOINT TABLET => SIGNUP.HTML ------ */

    .sign-up-title-container {

        width: 66%;
    
    }
    
    .sign-up-title {
    
        font-size: 2rem;

    }

    .map-column iframe {
        min-height: 500px;
    }
    


}  
/* ---------------------------------------------------------------- END OF BREAKPOINT --------------------- */
    


/* ----------------------------------------------------------------------------------------------- OLD IPAD BREAKPOINT ---------------- */

    /* Sections look strange within a limited screen width. Unfortunately this screen width is the same as an old iPad. This media query tweaks the site so it maintains a consistent look on iPad devices */

@media only screen and (min-width: 600px) and (max-width: 768px) {


    .client-pic {
        
        max-width: 50%;
        max-height: 50%;
        margin: 0 25%;
        padding: 1rem 1rem;

    }


}


/* -------------- END OF MEDIA QUERY ------ */


/* --------------------------------------------- -----------------------BREAKPOINT: LARGE TABLET > 800px ---------------- */


@media only screen and (min-width: 799px) {


    .button-and-article-container {
        
        max-width: 25rem;
        left: 6rem;
        margin-left: 2rem; 
        
    }

    .signup-footer {
        padding-top: 8rem;
    }


}

@media only screen and (min-width: 810px) and (max-width: 1000px) {

    /* --------------------------------------------------------------------------- */
    .client-quotes-container {

        width: 33%;

    }

    .client-pic {

        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;

    }



}


/* --------------------------------------------------------------------------------------------------------------------------- DESKTOP BREAKPOINT ------ */

@media only screen and (min-width: 1024px) {

    .client-quotes-container {

        width: 33%;

    }

    .client-quotes-header {

        font-size: 2rem;

    }





    .class-image,
    .pt-image {

        height: 500px;

    }

    .class-image h2,
    .pt-image h2 {

        font-size: 2rem;
    
    }

    .class-image h2,
    .pt-image h2 {

        margin-left: 10%;

    }


    .class-article,
    .pt-article {

        height: 500px;
        padding: 10% 5%;
        font-size: 1.5rem;

    }

    .class-article .text-and-button-container p {

        text-align: center;

    }

    .pt-article .text-and-button-container p {

          text-align: center;  

    }

    .fist-bump-image {

        height: 500px;

    }


    .text-and-button-container {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }


    .meet-trainers .meet-trainers-header {

        font-size: 2rem;    
    
    }


    .trainer-grid-container {
   

        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto ;
        grid-template-areas:
            "tprofile-1 tprofile-1 tprofile-2 tprofile-2 tprofile-3 tprofile-3";
}


    /* -------------------------------------------------------------------------------------------------DESKTOP BREAKPOINT => SIGNUP.HTML ------- */


    .form-container {

        margin: 0 auto;
        height: 100%;
        width: 66%;

    }

}

