@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------------------------------------------------------------------------------------------------- GENERAL ---- */


h1, 
h2, 
h3, 
h4, 
h5 {

    font-family: 'Spartan', sans-serif;

}

p {

    font-family: 'Montserrat', sans-serif;

}

html {

    font-size: 100%;

}

hr {

    margin: 1rem 0;
    width: 100%;
    background-color:#DC2F02;
    height: 0.16rem;

}

.deep-orange-bg {

    background-color: #CD3110;

}

.light-orange-bg {

    background-color: #DC2f02;

}

.light-grey-bg {

    background-color: #D6CFCB;

}

.dark-grey-bg {

    background-color: #423E3b;

}

.blue-bg {

    background-color: #37718E;
}

.deep-orange-text {

    color: #CD3110;

}

.light-orange-text {

    color: #DC2f02;
}

.light-grey-text {

    color: #D6CFCB;
}

.dark-grey-text {

    color: #423E3b;
}

.blue-text {

    color: #37718e;

}


/* ------------------------------------------------------------------------------------------------------- NAVBAR ---- */


.atomic-brand {

    color: #CD3110;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: .2rem;
    margin-top: .5rem;
    
}

.atomic-brand h1 {

    font-size: 1.25rem;
    font-weight: 900;

}

.navbar-brand a i {

    color: #CD3110;
    font-size: 1.25rem;

}

.navbar-brand a i:hover {

    color:#D0CCd0;
}

.navbar-burger {

    color: #CD3110;

}

#atomic-navbar {

    color: #CD3110;

}

.navbar {

    background-color: #423E3B;
    font-size: 1.5rem;

}

.navbar-item h3 {

    color: #CD3110;
    font-weight: 700;

}

.navbar-start {

    margin-left: 1.25rem;
}


/* ------------------------------------------------------------------------------------------------------------- FOOTER ------------ */



.footer h2 {

    text-transform: uppercase;
    font-weight: 700;

}


/* ------------------------------------------------------------------------------------------------------------- INDEX.HTML -------- */



/* ----------------------------------------------------------------------- Section: landing-page ----- */ 

#landing-page-hero {

    height: 568px;
    background-image: url(../images/pexels-ivan-samkov-4162490.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

}

.button-and-article-container {

    position: relative;
    margin: 0 auto;
    max-width: 80%;
    top: 20px;
    height: 30rem;
 
}

.landing-page-header {

    color: #ffffff;
    position: absolute;
    background-color: rgba(66, 62, 59, 0.5);
    width: 100%;
    bottom: 30%;
    margin-top: 40%;
    padding: 1rem;

}

.landing-page-header h2 {

    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;

}

.landing-page-header hr {

    margin: .75rem auto;
    width: 75%;

}

.button-container {

    position: absolute;
    margin-top: 1.5rem;
    width: 100%;
    bottom: 12%;
    
}

.button-container .button {

    width: 100%;
    background-color: #DC2F02;
    padding: 10px;
    height: 65px;

}

.button-container .button p {

    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;

}


/* ----------------------------------------------------------------------- Section: location & contact ----- */


.location-and-contact {

    background-color: #D6CFCB;
    background-size: cover;
    width: 100%;
    font-size: 24px;
    
    
}


.location-and-contact div {
    
    font-size: 1.5rem;
    text-align: center;

}

.location-arrow a {

    position: relative;
    font-size: 450%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    color:#423E3B;
    margin: 0 auto;
    text-decoration: none;
}


.location-arrow a i {
    
    width: 108px;
    height: 108px;
    color:#423E3B;
    margin: auto;

}

.location-and-contact span hr {
    
    margin: 24px auto;
    width: 50%;
    background-color:#DC2F02;
    height: 4px;
    
}

.address a, 
.contact a {

    color:#423E3B;
    margin: 0 auto;
    width: 50%;

}


/* ---------------------------------------------------------------- SECTION: image-and-quotes ----------------- */


.image-and-quotes {

    color:#D0CCd0;
}

.image-and-quotes .columns {

    margin-left: .75rem;
    margin-right: .75rem;
    margin-top: .75rem;
} 


.image-and-quotes .column {
    
    display: block;
    padding: .75rem;
}

.client-pic {

    height: auto;
    max-width: 100%;
    border-radius: 50%;

}

.client-name {
    color:#D0CCd0;
    font-size: 1.5rem;
    font-weight: 700;
}

.client-quote {

    font-weight: 500;
    font-size: 1rem;
}


/* ----------------------------------------------------------------SECTION: Services ------------------------------------ */


.services {
        
    font-size: 1.5rem;
    background-color: #ffffff;
    width: 100%;

}

.services-class-header-image {

    background-image: url(../images/pexels-andrea-piacquadio-3766211.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 33vh;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    clear: both;
    z-index: 1;

}

.services-class-header-image h3 {

    position: absolute;
    top: 20vh;
    left: 5vw;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

}

.services-class-container {

    position: relative;
    background-color: #ffffff;
    background: linear-gradient(90deg,rgba(214, 207, 203, 0.3),rgba(66,62,59, 0.9));
    z-index: 0;
    
}

.services-class-container article {

    position: relative;
    margin: 0 auto;
    width: 66vw;
}

.atom-logo {

    color: #37718e;
    position: absolute;
    font-size: 20rem;
    top: 20%;
    right: 55%;
    margin-top: 1.5rem;
    z-index: 0;

}


.class-text-block {
    
    background-color: rgba(66,62,59, 0.7);
    padding: 1rem 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
}

.class-text-block p {

    color: #ffffff;

}

.services article br {

    height: 5vh;

}

.services article a {
   
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 10px 10px;
    height: 50px;

}

.services article a p {

    text-transform: uppercase;
    font-weight: 800;

}


.services-pt-header-image {

    background-image: url(../images/jonathan-borba-R0y_bEUjiOM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 33vh;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.services-pt-header-image h3 {

    position: absolute;
    top: 20vh;
    left: 5vw;
    font-size: 2.75rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    
}

.services-pt-container {

    background: linear-gradient(270deg,rgba(66, 62, 59, 0.2),rgba(66,62,59, 0.9));
    position: relative;
    z-index: 0;

}

.atom-logo-orange {

    color: #DC2F02;
    position: absolute;
    font-size: 20rem;
    top: 20%;
    left: 50%;
    margin-top: 1.5rem;

}

.services-pt-container article {

    position: relative;
    margin: 0 auto;
    width: 66vw;

}

.pt-text-block {
    /* Transparency combined with blur gives a glass effect - glassmorphism
       Does not work on Firefox or older IE browsers */
    background-color: rgba(255,255, 255, 0.7);
    padding: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

.services-pt-container article a {

    width: 100%;
    margin-bottom: 1rem;
    height: 50px;

}


/* --------------------------------------------------------------------------------------SECTION: MEET OUR TRAINERS ----------------*/


.meet-trainers {

    padding: 1rem 0;

}

.meet-trainers h2 {

    margin: 1rem 1.25rem;
    font-weight: 800;
    font-size: 1.5rem;
    
}

.trainer-profile-container {
    
    position: relative;
    width: 75vw;
    margin: 0 auto;

}

.trainer-profile {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.profile-pic-1,
.profile-pic-2,
.profile-pic-3 {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 96px;
    width: 96px;
    border-radius: 50%;

}

.profile-pic-1 {

    background-image: url(../images/pexels-sindre-strøm-1040880.jpg);

}

.profile-pic-2 {

    background-image: url(../images/pexels-pixabay-415829.jpg);

}

.profile-pic-3 {

    background-image: url(../images/pexels-pixabay-220453.jpg);

}




/* ------------------------------------------------------------------------------------------------------ FOOTER ------------ */





/* --------------------------------------------------------------------------------------------------- CLASSES.HTML  ---- */


.table {
    overflow: auto;
}

.gym-timetable-header {
    
    background-color: #DC2f02;
}

.gym-timetable-wrapper {
    margin: 0 20px 0 20px;
}

.gym-timetable {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .gym-timetable-morning {
    background-color: #D0CCD0;
} */

.gym-class-tiles {

    background-color: #D0CCd0;
    }


#gym-class-hero {

    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/pexels-jonathan-borba-3076514.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#gym-class-hero-afternoon {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/pexels-jonathan-borba-3076516.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.gym-class-header {
    position: absolute;
    color: #000000;
    font-size: 300%;
    font-weight: 700;
    z-index: 10;
    width: 40%;
    height: 20%;
    margin-top: 125px;
    margin-left: 5%;
    margin-bottom: 50px;
    padding-left: 15px;
}

.gym-class-header h1 {
    font-weight: 700;
    
}


/* .morning-image {
    
    height: 300px;
    background-image: url(../images/pexels-jonathan-borba-3076514.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;

    
    background-color:#CD3110;
    
} 

.morning-image h1 {
    color: #000000;
    
} */

.opaque-overlay-white {
    
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);

}

.class-time {

    margin-left: 10vw;

}


.gym-day {

    font-weight: 700;

}



/* -------------------------------------------------------- TILE STYLES --- CLASSES.HTML ---- */
.cardio {
    background-color: #CD3110;
}

.elite {
    background-color: #423E3b;
}

.elite .title, .cardio .title, .strength .title {
    color: #ffffff;
}

.elite p, .cardio p, .strength p {
    color: #ffffff;
}

.strength {
    background-color: #37718E;
}

.blank {
    background-color:#D0CCd0;
    box-shadow: 0px 0px;

}



/* ------------------------------------------------------------------------------------------------------ MEDIA QUERIES  ---- */


/* breakpoints of mobile : screen < 767px; tablet: 768px < screen < 1002px; desktop: screen < 1003px; */


/* ----------------------------------------------------------------------------------------- TABLET BREAKPOINT ----- */

@media only screen and (min-width: 767px) {


    /* ------------------------------------------INDEX.HTML ------ */
    

    .button-and-article-container {
        
        max-width: 25rem;
        left: 6rem;
        margin-left: 2rem; 
        
    }

    .landing-page-header {
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
       
    }

    .landing-page-header h2 {
        font-size: 2rem;
    }

    .landing-page-header h3 {

        font-size: 1.5rem;

    }

    .button-container {

        margin-top: 2rem;
        margin-bottom: 0.5rem;

    }

}
/* ---------------------------------------------------------------- */