@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------------------------------------------------------------------------------------------------- GENERAL ---- */


h1, 
h2, 
h3, 
h4, 
h5 {

    font-family: 'Spartan', sans-serif;

}

p {

    font-family: 'Montserrat', sans-serif;

}

html {

    font-size: 100%;

}

hr {

    margin: 1rem 0;
    width: 100%;
    background-color:#CD3110;
    height: 0.16rem;

}

.deep-orange-bg {

    background-color: #CD3110;

}

.light-orange-bg {

    background-color: #DC2f02;

}

.light-grey-bg {

    background-color: #D6CFCB;

}

.dark-grey-bg {

    background-color: #423E3b;

}

.blue-bg {

    background-color: #37718E;
}

.deep-orange-text {

    color: #CD3110;

}

.light-orange-text {

    color: #DC2f02;
}

.light-grey-text {

    color: #D6CFCB;
}

.dark-grey-text {

    color: #423E3b;
}

.blue-text {

    color: #37718e;

}


/* ------------------------------------------------------------------------------------------------------- NAVBAR ---- */


.atomic-brand {

    color: #CD3110;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-top: .2rem;
    margin-top: .5rem;
    
}

.atomic-brand h1 {

    font-size: 1.25rem;
    font-weight: 900;

}

.navbar-brand a i {

    color: #CD3110;
    font-size: 1.25rem;

}


/* .navbar-brand a:hover,
.navbar-brand a i:hover {

    background-color:#D0CCd0;
} */


.navbar-burger {

    color: #CD3110;

}

#atomic-navbar {

    color: #CD3110;

}

.navbar {

    background-color: #423E3B;
    font-size: 1.5rem;

}

.navbar-item h3 {

    color: #CD3110;
    font-weight: 700;

}

.navbar-start {

    margin-left: 1.25rem;
}


/* ------------------------------------------------------------------------------------------------------------- FOOTER ------------ */



.footer h2 {

    text-transform: uppercase;
    font-weight: 700;

}


/* ------------------------------------------------------------------------------------------------------------- INDEX.HTML -------- */



/* ----------------------------------------------------------------------- Section: landing-page ----- */ 

#landing-page-hero {

    height: 568px;
    background-image: url(../images/b&w-hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #423E3B;
    width: 100%;
    background-attachment: fixed;

}

.button-and-article-container {

    position: relative;
    margin: 0 auto;
    max-width: 80%;
    top: 20px;
    height: 30rem;
 
}

.landing-page-header {

    color: #ffffff;
    position: absolute;
    background-color: rgba(66, 62, 59, 0.6);
    width: 100%;
    bottom: 30%;
    margin-top: 40%;
    padding: 1rem;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

}

.landing-page-header h2 {

    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;

}

.landing-page-header hr {

    margin: .75rem auto;
    width: 75%;

}

.button-container {

    position: absolute;
    margin-top: 1.5rem;
    width: 100%;
    bottom: 12%;
    
}

.button-container .button {

    width: 100%;
    background-color: #CD3110;
    padding: 10px;
    height: 65px;

}

.button-container .button p {

    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;

}


/* ----------------------------------------------------------------------- Section: location & contact ----- */


.location-and-contact {

    background-color: #D6CFCB;
    background-size: cover;
    width: 100%;
    font-size: 24px;
    background: linear-gradient(rgba(0,0,0,0.35), rgba(214, 207, 203, 1))
    
}


.location-and-contact div {
    
    font-size: 1.5rem;
    text-align: center;

}

.location-arrow a {

    position: relative;
    font-size: 450%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    color:#423E3B;
    margin: 0 auto;
    text-decoration: none;
}


.location-arrow a i {
    
    
    width: 108px;
    height: 108px;
    color:#423E3B;
    margin: auto;

}

.location-and-contact span hr {
    
    margin: 24px auto;
    width: 50%;
    background-color:#CD3110;
    height: 4px;
    
}

.address a, 
.contact a {

    color:#423E3B;
    margin: 0 auto;
    width: 50%;

}

.address a p,
.contact a p {

    font-weight: 600;

}

.location-arrow a i:hover,
.address a:hover,
.contact a:hover {

    color: #CD3110;
}

/* ---------------------------------------------------------------- SECTION: Fist Bump Image ------------------ */

.fist-bump-image {
    width: 100%;
    min-height: 250px;
    
    background-image: url(../images/b&w-fist-bump.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    background-attachment: fixed;
}

/* ---------------------------------------------------------------- SECTION: image-and-quotes ----------------- */


.image-and-quotes {

    color:#D0CCd0;
    
    
}

.image-and-quotes .columns {

    margin-left: .75rem;
    margin-right: .75rem;
    margin-top: .75rem;
    
} 


.image-and-quotes .column {
    
    display: block;
    padding: .75rem;
}

.client-pic {

    height: auto;
    max-width: 100%;
    border-radius: 50%;

}

.client-name {
    color:#D0CCd0;
    font-size: 1.5rem;
    font-weight: 700;
}

.client-quote {

    font-weight: 500;
    font-size: 1rem;
}


/* ----------------------------------------------------------------SECTION: Services ------------------------------------ */



.grid-container {

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "image1 image1 image1 image1"
        "article1 article1 article1 article1"
        "image2 image2 image2 image2"
        "article2 article2 article2 article2";

}

.class-image {

    grid-area: image1;
    background-image: url(../images/pexels-andrea-piacquadio-3766211.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    position: relative;
    background-color: #423E3b;
    
}

.class-article,
.pt-article {

    grid-area: article1;
    min-height: 300px;
    padding: 3rem;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index:1
    

}

.class-article p,
.pt-article p {

    padding: 1rem;

}

.class-article a,
.pt-article a {

    margin: 0.75rem 1rem;
    padding: 1rem;
    width: 50%;

}

.class-article a p,
.pt-article a p {

    font-weight: 700;

}

.pt-article {

    grid-area: article2;
    min-height: 300px;

}

.pt-image {

    grid-area: image2;
    background-image: url(../images/jonathan-borba-R0y_bEUjiOM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    position: relative;

}

.class-image h2,
.pt-image h2 {

    position: absolute;
    top: 66%;
    left: 1rem;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;

} 



/* --------------------------------------------------------------------------------------SECTION: MEET OUR TRAINERS ----------------*/


.meet-trainers {

    padding: 1rem 0;

}

.meet-trainers-header {

    text-transform: uppercase;

}

.meet-trainers hr {

    width: 33%;

}

.meet-trainers h2 {

    margin: 1rem 1.25rem;
    font-weight: 800;
    font-size: 1.5rem;
    
}

.meet-trainers p {

    margin: 1rem 1.25rem;
    font-size: 1.25rem;

}

.profile-1,
.profile-2,
.profile-3 {

    height: 150px;
    width: 150px;
    border-radius: 50%;

}




/* -------------------------------------------------------------------------------------------------- SIGNUP.HTML ---------------------- */

.signup-form h2 {

    font-size: 1.75rem;
    font-weight: 700;
    
    padding-bottom: 2rem;
    text-transform: uppercase;

}

.form-column {

    background-image: url(../images/samuel-girven-VJ2s0c20qCo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.form-container {

    height: 100%;
    width: 100%;
    padding: 1rem 1rem;
    background-color: rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    
    
}


label,
label h3 {

    font-weight: 600;

}


.form-container form {

    position: relative;

}

.form-container label p {

    padding-right: 1rem;

}


.form-container .button {

    color: #ffffff;
    background-color: #CD3110;
    width: 60%;
    margin: 0 auto;
    left: 20%;


}

.map-column iframe {

    height: 100%;
    max-width: 100%;
    padding: 1rem;

}

.interests {

    font-weight: 500;
    color: #ffffff;

}

.checkbox {

    color: #ffffff;
}

/* ------------------------------------------------------------------------------------------------------ FOOTER ------------ */





/* --------------------------------------------------------------------------------------------------- CLASSES.HTML  ---- */


.table {
    overflow: auto;
}

.gym-timetable-header {
    
    background-color: #DC2f02;
}

.gym-timetable-wrapper {
    margin: 0 20px 0 20px;
}

.gym-timetable {
    margin-top: 20px;
    margin-bottom: 20px;
}



#gym-class-hero {

    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/pexels-jonathan-borba-3076514.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#gym-class-hero-afternoon {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/pexels-jonathan-borba-3076516.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#gym-class-hero-evening {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/geert-pieters-0Z-r591z3DI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#gym-class-tab {

    margin-bottom: 0;

}

.gym-class-is-active {

    background-color: #423E3b;
    border-color: #D0CCd0;
    color: #ffffff;


}

.gym-class-is-active a {
    
    color: #ffffff;

}

.gym-class-header {
    position: absolute;
    color: #000000;
    font-size: 300%;
    font-weight: 700;
    z-index: 10;
    width: 40%;
    height: 20%;
    margin-top: 125px;
    margin-left: 5%;
    margin-bottom: 50px;
    padding-left: 15px;
}

.gym-class-header h1 {
    font-weight: 700;
    
}


.opaque-overlay-white {
    
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);

}

.class-time {

    margin-left: 10vw;

}

.gym-day {

    font-weight: 700;

}

.class-tab {

    font-family: "Spartan", sans-serif;
    font-weight: 500; 

}





/* -------------------------------------------------------- TILE STYLES --- CLASSES.HTML ---- */

.cardio {
    background-color: #CD3110;
}

.elite {
    background-color: #423E3b;
}

.elite .title, .cardio .title, .strength .title {
    color: #ffffff;
}

.elite p, .cardio p, .strength p {
    color: #ffffff;
}

.strength {
    background-color: #37718E;
}

.blank {
    background-color:#D0CCd0;
    box-shadow: 0px 0px;

}


/* ------------------------------------------------------------------------------------------------------ MEDIA QUERIES  ---- */


/* breakpoints of mobile : screen < 767px; tablet: 768px < screen < 1023px; desktop: screen < 1024px; */


/* ----------------------------------------------------------------------------------------- TABLET BREAKPOINT ----- */

@media only screen and (min-width: 767px) {


    /* ------------------------------------------INDEX.HTML ------ */
    

    .button-and-article-container {
        
        max-width: 25rem;
        left: 6rem;
        margin-left: 2rem; 
        
    }

    .landing-page-header {
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
       
    }

    .landing-page-header h2 {
        font-size: 2rem;
    }

    .landing-page-header h3 {

        font-size: 1.5rem;

    }

    .button-container {

        margin-top: 2rem;
        margin-bottom: 0.5rem;

    }



    /* ------------------------------------------------------------------TEST GRID SECTION ---------- */

    .grid-container {

        grid-template-areas:
        "image1 image1 article1 article1"
        "image1 image1 article1 article1"
        "article2 article2 image2 image2"
        "article2 article2 image2 image2";

    }


}  /*  -------------- END OF BREAKPOINT --------------------- */
    


/* ---------------------------------------------------------------------- OLD IPAD BREAKPOINT ---------------- */

    /* Sections look strange within a limited screen width. Unfortunately this screen width is the same as an old iPad. This media query tweaks the site so it maintains a consistent look on iPad devices */

@media only screen and (min-width: 767px) and (max-width:782px) {



   
}
/* ---------------------------------------------------------------- DESKTOP BREAKPOINT ------ */

@media only screen and (min-width: 1024px) {


    .class-image,
    .pt-image {

        height: 500px;

    }

    .class-image h2,
    .pt-image h2 {

        font-size: 4rem;
    
    }

    .class-image h2,
    .pt-image h2 {

        margin-left: 10%;


    }


    .class-article,
    .pt-article {

        height: 500px;
        padding: 10% 5%;
        font-size: 1.5rem;

    }

    .class-article .text-and-button-container p {

        text-align: left;

    }

    .pt-article .text-and-button-container p {

          text-align: right;  

    }

    .fist-bump-image {

        height: 500px;

    }


    .text-and-button-container {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }




}

